name: Continuous Integration

on:
  push:
  schedule:
    - cron: 21 21 21 * *
  workflow_dispatch:

jobs:
  build:
    name: PHP ${{ matrix.php-version }} (${{ matrix.dependency-type }} deps)
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        php-version: [ "7.4", "8.0", "8.1", "8.2", "8.3", "8.4", "8.5" ]
        dependency-type: [ "system", "vendored" ]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: shivammathur/setup-php@v2
        env:
          debug: true
        with:
          php-version: ${{ matrix.php-version }}
          ini-values: opcache.enable=1, opcache.enable_cli=1, opcache.protect_memory=1
          coverage: none
      - name: Build secp256k1_nostr with system packages
        if: ${{ matrix.dependency-type == 'system' }}
        run: |
          sudo apt install libsodium-dev libsecp256k1-dev
          make ext
          ldd ext/modules/secp256k1_nostr.so
      - name: Build secp256k1_nostr with vendored dependencies
        if: ${{ matrix.dependency-type == 'vendored' }}
        run: |
          make ext-with-deps
          ldd ext/modules/secp256k1_nostr.so
      - name: Test PHP extension
        run: |
          sudo apt-get install valgrind
          make check
  test-install:
    name: PIE install (PHP ${{ matrix.php-version }})
    runs-on: ubuntu-24.04
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        php-version: [ "8.1", "8.2", "8.3", "8.4", "8.5" ]
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: pie
      - run: |
          sudo apt install libsodium-dev libsecp256k1-dev
          pie repository:add path .
          sudo pie install uma/secp256k1-nostr:*@dev
          php -m | grep secp256k1_nostr
